name: Pinot Client Go Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"

jobs:
  golangci:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: '1.19'
          cache: false

      - name: Linter
        uses: golangci/golangci-lint-action@v3

  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Before Install
        run: make setup

      - name: Build
        run: make

      - name: Test
        run: make test

      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.9
        with:
          infile: profile.cov
          outfile: coverage.lcov

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v1
        with:
          github-token: ${{ github.token }}
          path-to-lcov: coverage.lcov
