name: Pinot Client Go Tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"

jobs:
  golangci:
    runs-on: ubuntu-latest
    name: Linter
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: false

      - name: Linter
        uses: golangci/golangci-lint-action@v9

  unit-tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Before Install
        run: make setup

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
          file: coverage.out
          format: golang
          flag-name: unit
          allow-empty: true
          parallel: true

  integration-tests:
    runs-on: ubuntu-latest
    name: Integration Tests
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Before Install
        run: make setup

      - name: Build
        run: make build

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "adopt"

      - name: Set up Pinot Cluster
        run: make run-pinot-dist
        env:
          PINOT_VERSION: 1.0.0
          PINOT_HOME: /tmp/pinot
          CONTROLLER_PORT_FORWARD: 9000
          BROKER_PORT_FORWARD: 8000

      - name: GORM Example
        run: go run ./examples/gorm-example

      - name: Integration Test
        run: make integration-test
        env:
          ZOOKEEPER_PORT: 2123
          CONTROLLER_PORT: 9000
          BROKER_PORT: 8000

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
          file: coverage.out
          format: golang
          flag-name: integration
          allow-empty: true
          parallel: true

  finish:
    needs:
      - unit-tests
      - integration-tests
    name: Coveralls Finished
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
          parallel-finished: true
          carryforward: "unit,integration"
